@model IEnumerable<CPRG214.ATS.Domain.AssetType>

@{
    ViewData["Title"] = "Index";
}

<h3>Asset Type</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table col=2 jumbotron">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
